# Cutlet

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns

In [2]:
df=pd.read_csv("Cutlets.csv")

In [3]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
#Null Hypothessis : There is no significant difference in size of cutlet prodcuced by Unit-A and Unit-B,Two means are equal
#ALternate Hypothesis : There's a significant difference between Unit-A and Unit-B cutlet size,Two means are not equal
#This is two sample two tail test

In [5]:
df.shape

(35, 2)

In [11]:
stats.ttest_ind(df.iloc[:,0],df.iloc[:,1])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [12]:
#Since p>(Alpha:0.05) , we accept Null Hypothesis(Ho),
#i.e, There is no significant difference in size of cutlet prodcuced by Unit-A and Unit-B